body {
    font-family: 'Arial', sans-serif;
    background-color: #1b0c35;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #333;
    padding: 20px 30px;
    box-shadow: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #5c67f2;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

h1 {
    color: #333333;
    margin-bottom: 15px;
}

p {
    color: #555555;
}

.logout-link {
    background-color: #d9534f;
    padding: 8px 16px;
    border-radius: 5px;
}

.logout-link:hover {
    background-color: #c9302c;
}

.container-button {
    display: flex;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    height: auto;
    /* Ajusta la altura del contenedor */
}

button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: auto;
    /* Ajusta la anchura del botón según el contenido */
    height: auto;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

button:hover {
    color: #fff;
}

button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: #3a0ca3;
    transition: background 0s;
}